<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 my-16">

  <h1 class="text-xl font-bold color-black my-5">New Room</h1>

  <%= render 'form', room: @room %>

  <%= link_to 'Back', rooms_path, class: "text-blue-600 visited:text-purple-600" %>
</div>